jenjin-world-core/src/main/resources/World.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="world" type="worldType"/>
  <xs:complexType name="wander_targetsType">
    <xs:sequence>
      <xs:element type="wander_targetType" name="wander_target" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="zoneType">
    <xs:sequence>
      <xs:element type="locationType" name="location"/>
    </xs:sequence>
    <xs:attribute type="xs:integer" name="id" use="required"/>
    <xs:attribute type="xs:integer" name="xSize" use="required"/>
    <xs:attribute type="xs:integer" name="ySize" use="required"/>
  </xs:complexType>
  <xs:complexType name="wander_targetType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:integer" name="xLoc" use="required"/>
        <xs:attribute type="xs:integer" name="yLoc" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="behaviorType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="required"/>
        <xs:attribute type="xs:string" name="value" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="npcType">
    <xs:sequence>
      <xs:element type="behaviorsType" name="behaviors"/>
      <xs:element type="wander_targetsType" name="wander_targets"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:integer" name="zoneID" use="required"/>
    <xs:attribute type="xs:integer" name="xCoordinate" use="required"/>
    <xs:attribute type="xs:integer" name="yCoordinate" use="required"/>
  </xs:complexType>
  <xs:complexType name="locationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:integer" name="x" use="required"/>
        <xs:attribute type="xs:integer" name="y" use="required"/>
        <xs:attribute type="xs:string" name="walkable"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="worldType">
    <xs:sequence>
      <xs:element type="zoneType" name="zone" minOccurs="1"/>
      <xs:element type="npcType" name="npc"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="behaviorsType">
    <xs:sequence>
      <xs:element type="behaviorType" name="behavior" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>